:root {
  --primary-color: #bbe1fa;
  --secondary-color: #3282b8;
  --accent-color: #0f4c75;
  --tertiary-color: #1b262c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(var(--accent-color), var(--secondary-color));
}

h2 {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.container {
  width: 120rem;
  height: 90vh;
  background-color: white;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
  margin: 3.2rem auto;
  padding: 3.2rem 3.2rem;
  border-radius: 2rem;
  position: relative;
  animation: fadeInFromLeft 1s ease-in-out;
}

.max-poids-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.max-poids-form label {
  font-size: 1.8rem;
  font-weight: 600;
}

input {
  width: 100%;
  height: 4rem;
  border-radius: 0.4rem;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  background-color: var(--primary-color);
  color: #000;
  font-family: inherit;
  outline: none;
  border: 1px solid var(--secondary-color);
}

input:focus {
  outline: none;
  border: 3px solid var(--accent-color);
}

.container-table {
  margin-top: 1.2rem;
  height: 65%;
  overflow-y: scroll;
  overflow-x: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 3.2rem 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--secondary-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-radius: 1.2rem;
  overflow: hidden;
}

table thead {
  background-color: var(--secondary-color);
  color: #fff;
}

table tr:nth-child(odd) {
  background-color: var(--primary-color);
}

th,
td {
  padding: 1.2rem;
  text-align: center;
}

thead tr th {
  background-color: var(--accent-color);
}

.delete-icon {
  color: red;
  cursor: pointer;
  padding: 1.2rem;
  background-color: white;
  border-radius: 1.2rem;
  transition: all 0.3s ease;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.delete-icon:hover {
  transform: rotateZ(360deg);
  scale: 1.1;
}

.center--horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-object-btn:link,
.add-object-btn:visited {
  display: inline-block;
  background-color: green;
  color: white;
  padding: 1.2rem;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  margin: 0 auto;
  transition: all 0.3s ease;
  animation: fadeInFromLeft 1s ease-in-out;
  animation-delay: 0.2s;
}

.add-object-btn:hover,
.add-object-btn :focus {
  transform: scale(1.1);
}

.calculate-result-btn:link,
.calculate-result-btn:visited {
  display: inline-block;
  background-color: var(--accent-color);
  color: white;
  padding: 1.2rem;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  margin: 0 auto;
  transition: all 0.3s ease;
  animation: fadeInFromRight 1s ease-in-out;
  animation-delay: 0.2s;
}

.calculate-result-btn:hover,
.calculate-result-btn :focus {
  transform: scale(1.1);
}

.row-for-buttons {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
}

.result-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 200;
  background-color: white;
  padding: 5rem;
  border-radius: 2rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  width: 60rem; /* Set a fixed width for the container */
  white-space: nowrap;
  overflow-x: hidden;
}

#result {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--accent-color);
}

.add-blur {
  filter: blur(2px);
}

.hidden {
  display: none;
}

.close-img {
  scale: 2;
  position: absolute;
  cursor: pointer;
  top: 2rem;
  right: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
  display: none;
}

.table-text {
  align-self: center;
  margin-bottom: 1.6rem;
}

.result-table-container {
  overflow-x: scroll;
  width: 100%;
  padding: 2.4rem;
}

.table-container {
  scroll-snap-type: none;
}
.table-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.table-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.table-de-calcul {
  width: 80%;
  margin: 0 !important;
}

td {
  animation: fadeInFromLeft 0.2s ease-in-out;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
